/* Font */
$font-family: "Roboto", sans-serif;

/* Colors */
$primary-color: white;
$bg-color: #fafafa;
$secondary-color: #949494;
$follow-color: #3398f6;
$dark-color: #000000;
$border-color: #dbdbdb;
$subtitle: #cccccc;
